<?xml version="1.0" encoding="utf-8"?>
<manifest package="br.com.afischer.fisl"
        xmlns:android="http://schemas.android.com/apk/res/android"
        >
        
        <uses-permission android:name="android.permission.INTERNET" />
        <uses-permission android:name="android.permission.INTERNET" />
        <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
        <uses-permission android:name="android.permission.VIBRATE" />
        <uses-permission android:name="android.permission.WAKE_LOCK"/>
        <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
        <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

        
        
        
        <application
                android:name=".app.FISLApplication"
                android:allowBackup="true"
                android:icon="@mipmap/ic_launcher"
                android:label="@string/app_name"
                android:supportsRtl="true"
                android:theme="@style/AppTheme"
                >
        
        
                <!-- BroadcastReceivers -->
                <receiver android:name=".broadcasts.FISLReceiver" android:enabled="true">
                        <intent-filter>
                                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                        </intent-filter>
                </receiver>
        
        
                <receiver android:name=".broadcasts.AlarmReceiver" android:enabled="true" />
        
        
        
                <!-- Services -->
                <service android:name=".services.AlarmNotificationService" />
                <service android:name=".services.AlarmScheduleService" />
                <service android:name=".services.AlarmSoundService" />
                
                
                <activity
                        android:name=".SplashActivity"
                        android:theme="@style/SplashTheme"
                        android:screenOrientation="portrait"
                        >
                        <intent-filter >
                                <action android:name="android.intent.action.MAIN" />
                                
                                <category android:name="android.intent.category.LAUNCHER" />
                        </intent-filter >
                </activity >
                <activity
                        android:name=".MainActivity"
                        android:theme="@style/AppTheme.NoActionBar"
                        android:screenOrientation="portrait"
                        />
                <activity
                        android:name=".AgendaActivity"
                        android:theme="@style/AppTheme.NoActionBar"
                        android:screenOrientation="portrait"
                        />
                
                <meta-data
                        android:name="io.fabric.ApiKey"
                        android:value="02cdeaeb22ea62d95d9b63047e08cffc239358a2"
                        />
        </application >

</manifest >